<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>63373247651-anr96e10n7q5hfpnn9u39ohak70abal9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.63373247651-anr96e10n7q5hfpnn9u39ohak70abal9</string>
	<key>API_KEY</key>
	<string>AIzaSyDyO0igjahjED5NXsJuWIPYcTWZmqCKZ0g</string>
	<key>GCM_SENDER_ID</key>
	<string>63373247651</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chatApp</string>
	<key>PROJECT_ID</key>
	<string>flutter-chat-app-4542e</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-chat-app-4542e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:63373247651:ios:3536cd53b3374ceb6b2b16</string>
</dict>
</plist>